body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgb(16, 31, 42);
  font-family: Helvetica, sans-serif;
  color: rgb(217, 210, 198);
  font-size: 16px;
  display: flex;
}

h1,
h2,
h3 {
  color: rgb(239, 235, 228);
}

body [id='app'] {
  width: 100%;
  display: flex;
  flex: 1;
}

button {
  padding: 10px;
  background: rgb(0, 141, 185);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  width: 100%;
  border: none;
  white-space: nowrap;
}

input[type='range'],
button,
input[type='submit'],
input[type='checkbox'],
select {
  cursor: pointer;
}

.container {
  padding: 15px;
}

.sidebarContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sidebarContainer .container {
  flex: 1 1;
}

.gutters {
  padding-left: 15px;
  padding-right: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  font-weight: 600;
  margin: 10px 0;
}

fieldset {
  display: flex;
  flex: 1 1 100%;
  border: 0;
}

.inlineFieldset {
  display: block;
  border: 0;
}

.inlineFieldset label,
.inlineFieldset input {
  width: auto;
}

fieldset label,
fieldset input {
  width: 100%;
}

.flexCol {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexItem {
  flex: 1;
}

hr {
  opacity: 0.3;
}
